src/main/webapp/WEB-INF/wsdl/BestFilmzService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bf_ws="http://borsutzky.info/bestfilmz/soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BestFilmzService" targetNamespace="http://borsutzky.info/bestfilmz/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://borsutzky.info/bestfilmz/soap">
	<xsd:element name="GetMovie">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetMovieResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema></wsdl:types>
    <wsdl:message name="GetMovieRequest">
		<wsdl:part name="GetMovieRequestParameter" element="bf_ws:GetMovie"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="GetMovieResponse">
    	<wsdl:part name="GetMovieResponseParameter" element="bf_ws:GetMovieResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BestFilmzPort">
    	<wsdl:operation name="GetMovie">
    		<wsdl:input message="bf_ws:GetMovieRequest"></wsdl:input>
    		<wsdl:output message="bf_ws:GetMovieResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BestFilmzBinding" type="bf_ws:BestFilmzPort">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="GetMovie">
    		<soap:operation
    			soapAction="http://borsutzky.info/bestfilmz/soap/GetMovie" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BestFilmzService">
    	<wsdl:port name="BestFilmzPort" binding="bf_ws:BestFilmzBinding">
    		<soap:address location="http://www.example.org/" />
    	</wsdl:port>
    </wsdl:service></wsdl:definitions>
